<h1>{{ page.title }}</h1>
<p>
  <b>Information:</b><br>
  These simulations are all based on the {{ page.gearset }} default profiles from SimulationCraft. Set pieces and legendaries
  have been modified accordingly.<br>
  Furthermore, in order to keep the number of combinations from exploding, only the best few legendaries have been used.<br>
  The target error was 0.2% which means you can consider everything within a ~2k DPS range to be equal and requiring more detailed investigation.
</p>
<p>
  The purpose of these simulations is to get a general idea of how different setups will compare with each other and not
  to promote any definitive "best builds". Several variables (like different trinkets, WF/TF or ingame situations) are not
  taken into account. This is why you, as always, should <b>simulate your own character</b> to find your optimal setup.
</p>
<p>
  <b>Last Update:</b> {{ page.lastupdate }}<br>
  <b>WoW-Build:</b> {{ page.build }}
</p>
<table id="combinator-table" class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Talents</th>
      <th>Sets</th>
      <th>Legendaries</th>
      <th>DPS</th>
    </tr>
    <tr id="combinator-table-filters">
      <th></th>
      <th><input id="combinator-table-filter-talents" type="text" class="form-control input-sm" onkeyup="updateCombinatorTable()"></input></th>
      <th>
        <select id="combinator-table-filter-set" class="form-control input-sm" onchange="updateCombinatorTable()">
          <option>All</option>
        </select>
      </th>
      <th>
        <select id="combinator-table-filter-legendary" class="form-control input-sm" onchange="updateCombinatorTable()">
          <option>All</option>
        </select>
      </th>
      <th></th>
    </tr>
  </thead>
</table>
<div id="combinator-loading" class="text-center">
  <h2>Loading...</h2>
</div>
<div id="combinator-table-nav" class="text-right"></div>
<script src="/assets/js/jquery.csv.min.js"></script>
<script src="/assets/js/jquery.twbsPagination.min.js"></script>
<script>
  var combinatorRows;

  function updateCombinatorTable() {
    combinatorRows = document.querySelectorAll('#combinator-table tbody tr');
    var filterTalents = document.getElementById('combinator-table-filter-talents').value;
    var filterSet = document.getElementById('combinator-table-filter-set').value;
    var filterLegendary = document.getElementById('combinator-table-filter-legendary').value;
    combinatorRows = $.grep(combinatorRows, function(el, idx) {
      if (filterTalents !== "" && $('td:eq(1):contains("'+ filterTalents + '")', el).length == 0)
          return false;
      if (filterSet !== "All" && $('td:eq(2)', el).text() != filterSet)
          return false;
      if (filterLegendary !== "All" && $('td:eq(3):contains("'+ filterLegendary + '")', el).length == 0)
          return false;
      return true;
    });
    if ($('#combinator-table-nav').data("twbs-pagination"))
      $('#combinator-table-nav').twbsPagination('destroy');
    $('#combinator-table-nav').twbsPagination({
      totalPages: Math.max(1, Math.ceil(combinatorRows.length / 15)),
      visiblePages: 3,
      onPageClick: function(event, page) {
        $('#combinator-table tbody tr:visible').hide();
        $(combinatorRows).slice((page - 1) * 15, page * 15).show();
      }
    });
  }

  $(document).ready(function() {
    $.get('/{{ page.csvfile }}', function(data) {
      var arrays = $.csv.toArrays(data);
      arrays.sort(function(a, b) {
        return b[3] - a[3];
      });
      var html = "<tbody>";
      var idx = 0;
      var sets = [];
      var legos = [];
      arrays.forEach(function(columns) {
        idx++;
        html += "<tr>";
        html += "<td>" + idx + "</td>";
        html += "<td>" + columns[0] + "</td>";
        html += "<td>" + columns[1] + "</td>";
        if ($.inArray(columns[1], sets) < 0) {
          sets.push(columns[1]);
        }
        html += "<td>" + columns[2] + "</td>";
        columns[2].split(", ").forEach(function(lego) {
          if ($.inArray(lego, legos) < 0) {
            legos.push(lego);
          }
        });
        html += "<td>" + columns[3].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</td>";
        html += "</tr>";
      });
      html += "</tbody>";
      document.getElementById('combinator-table').insertAdjacentHTML('beforeend', html);
      sets.forEach(function(set) {
        document.getElementById('combinator-table-filter-set').insertAdjacentHTML('beforeend', "<option>" + set + "</option>");
      });
      legos.forEach(function(lego) {
        document.getElementById('combinator-table-filter-legendary').insertAdjacentHTML('beforeend', "<option>" + lego + "</option>");
      });
      updateCombinatorTable();
      document.getElementById('combinator-loading').style.display = 'none';
    });
  });
</script>
