<div id="chart_div" style="width: 100%; height: {{ page.chartheight }}"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function excludeEmptyRows(dataTable)
  {
    var view = new google.visualization.DataView(dataTable);
    var rowIndexes = view.getFilteredRows([{column: 1, value: null}]);
    view.hideRows(rowIndexes);
    return view.toDataTable();
  }

  function drawChart() {
    var columntypes = ['string'];
    for (var i = 0; i < {{ page.num_ilevel_values }}; i++) {
      columntypes.push('number'); // Value
      columntypes.push('string'); // Annotation
    }
    var query = new google.visualization.Query('{{ page.csvfile }}', {
      csvColumns: columntypes,
      csvHasHeader: false
    });
    query.send(handleQueryResponse);
  }

  function handleQueryResponse(response) {
    if (response.isError()) {
      alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
      return;
    }

    var data = response.getDataTable();

    // Sort by last column (relic ilevel), then 3 relics (column 5)
    data.sort([{column: data.getNumberOfColumns() - 1, desc: true}, {column: 5, desc: true}]);

    // Mark annotation columns
    for (var col = 2; col < data.getNumberOfColumns(); col += 2) {
      data.setColumnProperties(col, {type:'string', role:'annotation'})
    }

    // Calculate Differences
    for (var row = 0; row < data.getNumberOfRows(); row++) {
      var prevVal = 0;
      for (var col = 1; col < data.getNumberOfColumns(); col += 2) {
        var curVal = data.getValue(row, col)
        data.setValue(row, col, curVal - prevVal);
        prevVal = curVal;
      }
    }

    // Set chart options
    var options = {
      title:'{{ page.charttitle }}',
      chartArea:{
        top: 50,
        bottom: 100,
        left: 150,
        right: 50
      },
      hAxis: {
        title: 'DPS Increase',
        gridlines: {
          count: 20
        },
        viewWindow: {
          min: 0
        }
      },
      vAxis: {
        textStyle: {
          fontSize: 12
        }
      },
      annotations: {
        textStyle: {
          fontSize: 10,
        },
      },
      legend: { position: "none" },
      isStacked: true
    };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
    chart.draw(excludeEmptyRows(data), options);
  }
</script>
