<h1>{{ page.title }}</h1>
<p>
  Here, you can compare expected DPS increase from trinkets. All of the trinkets in the following chart have
  been simulated from item level {{ page.min_ilevel }} to {{ page.max_ilevel }} in steps of {{ page.ilevel_steps }}.
</p>
<p>
  In order to compare trinkets with this chart, look for the end of the bars corresponding to the item level of
  interest. However, you should <b>simulate your own character</b> to find your best setup. These
  simulations are based on predefined gear sets instead of your own, after all. This means data shown here
  <b>depends heavily</b> on the used profile with its talents, legendaries etc. and is rather giving an outlook.
  If your character is different from the setup used here, personal simulations are recommended.
</p>
{% include fightstyletabs.html %}
<div id="chart_div" style="width: 100%; height: {{ page.chartheight }}"></div>
<script type="text/javascript" src="/assets/js/jquery.csv.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function excludeEmptyRows(dataTable)
  {
    var view = new google.visualization.DataView(dataTable);
    var rowIndexes = view.getFilteredRows([{column: 1, value: null}]);
    view.hideRows(rowIndexes);
    return view.toDataTable();
  }

  function drawChart() {
    $.get('/{{ page.csvfile }}', function(csvString) {
      var arrayData = $.csv.toArrays(csvString, {onParseValue: function(value, state) {
        if (state.rowNum <= 1) {
          return value.toString();
        }
        return $.csv.hooks.castToScalar(value, state);
      }});
      var data = new google.visualization.arrayToDataTable(arrayData);

      // Sorting
      var sortCol = data.addColumn('number');
      for (var row = 0; row < data.getNumberOfRows(); row++) {
        var biggestTotalValue = 0;
        for (var col = 1; col < sortCol; col ++) {
          if (data.getValue(row, col) > biggestTotalValue)
            biggestTotalValue = data.getValue(row, col);
        }
        data.setValue(row, sortCol, biggestTotalValue);
      }
      data.sort([{column: sortCol, desc: true}]);
      data.removeColumn(sortCol);

      // Add Tooltip columns
      for (var col = 2; col <= data.getNumberOfColumns(); col += 2) {
        data.insertColumn(col, { type: 'string', role: 'tooltip', 'p': { 'html': true } });
      }

      // Calculate Differences
      for (var row = 0; row < data.getNumberOfRows(); row++) {
        var prevVal = 0;
        for (var col = 1; col < data.getNumberOfColumns(); col += 2) {
          var curVal = data.getValue(row, col)
          var stepVal = curVal - prevVal;
          var tooltip = '<div class="chart-tooltip"><b>' + data.getValue(row, 0) +
            '<br> Item Level ' + data.getColumnLabel(col) + '</b>' +
            '<br><b>Total:</b> ' + formatNumber(curVal.toFixed()) +
            '<br><b>Increase:</b> ' + formatNumber(stepVal.toFixed()) + '</div>';
          data.setValue(row, col + 1, tooltip);
          data.setValue(row, col, stepVal);
          prevVal = curVal > prevVal ? curVal : prevVal;
        }
      }

      // Set chart options
      var bgcol = isDarkTheme() ? '#222' : '#FFF';
      var textcol = isDarkTheme() ? '#CCC' : '#000';
      var options = {
        title:'{{ page.charttitle }}',
        backgroundColor: bgcol,
        chartArea:{
          top: 50,
          bottom: 100,
          right: 150,
          left: 200
        },
        hAxis: {
          title: 'DPS Increase',
          gridlines: {
            count: 20
          },
          viewWindow: {
            min: 0
          },
          textStyle: {
            color: textcol,
          },
          titleTextStyle: {
            color: textcol,
          }
        },
        vAxis: {
          textStyle: {
            fontSize: 12,
            color: textcol,
          },
          titleTextStyle: {
            color: textcol,
          }
        },
        legend: {
          textStyle: {
            color: textcol
          }
        },
        titleTextStyle: {
          color: textcol,
        },
        tooltip: {
          isHtml: true
        },
        isStacked: true
      };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      chart.draw(excludeEmptyRows(data), options);
    });
  }
</script>
