// Color Variables
$bg: #111;
$content-bg: #222;
$content-bg-lt: lighten($content-bg, 8%);
$content-bg-lt2: lighten($content-bg, 16%);
$text-dark: #CCC;
$link-dark: #B77C33;
$border-dark: #080808;

// General
body {
    background-color: $bg;
    color: $text-dark;
    padding: 62px 12px 12px 12px;

    .container {
        border-radius: 12px;
    }

    #navigation {
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
    }

    #header {
        margin-bottom: 12px;
        padding: 6px;
        text-align: center;
    }

    #content {
        background-color: $content-bg;
        border: 1px solid $border-dark;
        padding: 24px;

        a.blog-post {
            background-color: $content-bg-lt;
            color: inherit;
            display: block;
            padding: .5rem 2rem;
            text-decoration: none;

            &:hover {
                background-color: $content-bg-lt2;
            }

            &:nth-of-type(1) {
                margin-top: 3rem;
            }

            p.read-more {
                color: $link-dark;
            }
        }
    }

    a {
        color: $link-dark;

        &:hover {
            color: lighten($link-dark, 20%);
        }
    }

    #theme-switch {
        color: #777;
        cursor: pointer;
        text-decoration: none;
    }

    #combinator-table-filters .form-control {
        display: inline;
        max-width: 150px;
    }

    // Centering the tab nav
    #fightstyle-tabs.nav-pills > li {
        display:inline-block;
        float:none;
        zoom:1;
    }

    #fightstyle-tabs {
        text-align: center;
    }

    #github-changelog img {
        border-radius: 4px;
    }

    .btn-default:focus,
    .btn-default:active:focus,
    .btn-default.active:focus,
    .btn-default.focus,
    .btn-default:active.focus,
    .btn-default.active.focus {
        outline: none;
    }

    hr {
        width: 30%
    }

    .dropdown-menu {
        > li > a {
            color: $text-dark;
        }

        .divider {
            background-color: $border-dark;
        }
    }

    a.list-group-item,
    a.page-link,
    a.page-link:focus,
    .dropdown-menu,
    .dropdown-menu > li > a:focus,
    .form-control,
    .nav-pills > li > a,
    .btn-default {
        background-color: $content-bg-lt;
        border-color: $border-dark;
        color: $text-dark;
    }

    a.list-group-item:hover,
    a.page-link:hover,
    .pagination > .disabled > span,
    .pagination > .disabled > span:hover,
    .pagination > .disabled > span:focus,
    .pagination > .disabled > a,
    .pagination > .disabled > a:hover,
    .pagination > .disabled > a:focus,
    .pagination > .active > a,
    .pagination > .active > a:hover,
    .dropdown-menu > li > a:hover,
    .nav-pills > li.active > a,
    .nav-pills > li > a:hover,
    .btn-default.active,
    .btn-default:focus,
    .btn-default:active {
        background-color: $content-bg-lt2;
        border-color: $border-dark;
        color: $text-dark;
    }

    .form-control:focus {
        border-color: $text-dark;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
    }

    .table-hover > tbody > tr:hover {
        background-color: lighten($content-bg, 16%);
    }

    #fightstyle-tabs.nav-pills > li > a {
        border: 1px solid $border-dark;
    }
}

// Helpers
.center {
    margin: auto;
}
.chart-tooltip {
    color: #000;
    font-size: 18px;
    padding: 12px;
    white-space: nowrap;
}

// This allows Google charts in tabs
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block;
    height: 0;
    overflow-y: hidden;
}
.tab-content > .active,
.pill-content > .active {
    height: auto;
}

#relic-chart, #trinket-chart {
    width: 100%;

    &.full-height {
        height: 1000px;
    }

    &.half-height {
        height: 500px;
    }
}
